$theme-colors: () !default;

$theme-colors: (
    "primary": #dd6401,
    "danger": #ff4136,
    "warning": #f9cd00,
	"success": #61b83c,
	"ligth-background": #F0F0F0
);
@import "../node_modules/bootstrap-material-design/scss/core";
@import "../node_modules/bootstrap/scss/bootstrap";

button[class^="arena-"][ class$="-button"]{
	@extend .btn;
	@extend .btn-raised;
	text-transform: none;
	font-family: Raleway;
	font-weight: 450;
}
[class$="-inline-search"]{
	li{
		list-style:none;
		.arena-container{
			@extend .my-1;
		}
	}
}


.arena-open-create-modal-button {
	@extend .btn-primary, .btn-lg;	
}

.arena-open-search-modal-button	{
	@extend .btn-secondary, .btn-sm, .float-right;
}
.radius{

	border-radius: 3px;
}
.arena-list-item-wrapper{
	@extend .card;
	// @extend .p-2;
	@extend .radius;
	max-width: 550px;
	@extend .my-3;
	@extend .mx-auto;
}

.arena-fieldset-mode-edit, .arena-fieldset-mode-view{
	@extend .form-group;
}

 .arena-edit-field {
	@extend .form-control;
	@extend .my-1;
	 border-radius: 2px;

}

.arena-checkbox{
	.arena-edit-field{
		width: unset !important;
		display: inline !important;
	}
	label{
		display: inline;
	}
}
.arena-container-mode-edit:not(:hover) .arena-open-search-modal-button{
		@extend .d-none;
}	

.arena-modal {
	@extend .w-100;
	max-width:unset;
}



.arena-field-mode-VIEW {
	.label{
		@extend .pr-2;
	}
	display: flex;
}

.tingle-modal {
	overflow-y: scroll;
}

.background-dark-color-ligth{
	background-color:  map-get($theme-colors, "dark");
	color: map-get($theme-colors, "light");
}

.background-secondary-color-ligth{
	background-color:  map-get($theme-colors, "secondary");
	color: map-get($theme-colors, "light");
}


.arena-list-item-wrapper{
	cursor: pointer;

	.arena-field-mode-VIEW .label{
		padding: 0 !important;
	}
	
	font-family: 'Roboto';
	.arena-text.label {
		display: none;
	}
	.arena-field-value, .place-level-1{
		@extend .px-1;
		@extend .py-2
	}
	.float-left-width-50{
		@extend .float-left;
		@extend .w-50;
	}
	.arena-field-name-estateType{
		@extend .float-left-width-50;
	}
	.appointment-user-container {
		.arena-field-name-name{
			font-family: 'Roboto Cn';
			font-size: medium; 
			@extend .w-100;
			@extend .text-center;
			@extend .background-secondary-color-ligth;
			border-radius: 3px 3px 0px 0px;
			span.arena-field-value{
				@extend .w-100;

			}
		}
		.arena-field-name-phone {
			@extend .float-left-width-50;
		}
	}
	.assessment-container {
		.arena-field-name-estateType{
			@extend .w-25;
		}
		.assessment-user-container {
			.arena-field-name-name{
				font-family: 'Roboto Cn';
				font-size: medium; 
				@extend .w-100;
				@extend .text-center;
				@extend .background-secondary-color-ligth;
				border-radius: 3px 3px 0px 0px;
				span.arena-field-value{
					@extend .w-100;

				}
			}
			
			.arena-field-name-phone {
				@extend .float-left-width-50;
			}
		}
		.assessment-place-container {
			.arena-field-name-formattedAddress > .arena-field-value{
				width: 100%;
				text-align: center;
				text-transform: uppercase;
				font-size: 9pt;
				font-family: 'Roboto Cn';
				background-color:  map-get($theme-colors, "ligth-background");;
				@extend .mb-2;
			}
		}
		// .arena-field-name-sugestedValue::before{
		// 	content: "U$D";
		// }
		.arena-field-name-sugestedValue{
			.arena-field-value::before{
				content: "U$D";
				@extend .pr-1
			}
			@extend .py-1;
			font-family: 'Roboto';
			font-size: large;
			font-weight: bold; 
			@extend .w-100;
			@extend .text-center;
			@extend .background-dark-color-ligth;
			border-radius: 0px 0px 3px 3px;
			span.arena-field-value{
				@extend .w-100;

			}
		}
	}
	.arena-field-name-formattedAddress{
		
		.arena-field-value{
			white-space: nowrap;
			display: inline-block;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	} 
	.appointment-date{
		@extend .position-absolute;
		@extend .p-2;
		@extend .mr-2;
		@extend .badge, .rounded-pill;
		@extend .background-secondary-color-ligth;
			top:4.5rem;
		right: 0;

	}
	button{
		display: none !important;
	}
	
	// .arena-field-value{
	// 	@extend .col;
	// }

	// .appointment-container{
	// 	.arena-container-default-render{
	// 		@extend .row;
	// 	}
	// }
}

.arena-photo-list-container{
	.place-photo{
		max-width: 100px;
		max-height: 100px;
		@extend .img-thumbnail;
	}
	display: flex;
	.arena-list-item-wrapper{
		max-width: 100px;
		@extend .m-0;
	}
}
.react-html5-camera-photo {
	video{
		max-width: 100%;
		max-height: 100%;
	}
}
.photo-arena-create-modal{
	.place-photo{
		width: 100%;
	}
}


// :not(.arena-list-item-wrapper) > .arena-container{
	.arena-default-render-wrapper{
		.arena-container > div > .arena-text.label {
			font-family: 'Roboto Cn';
			// font-size: 8.3pt;
			border-bottom:  map-get($theme-colors, "dark") 1px solid;
			// @extend .card-header
			@extend .mt-5, .mb-2;
		}
	}
.arena-create-appointment-screen, .arena-create-assessment-screen, .arena-create-estate-screen{
	.arena-container{
		@extend .mb-2;
	}
	@extend .mt-5, .mb-5;
}

.arena-estateSearch-list-container{
	.arena-list-selection-finish{
		@extend .d-none;
	}
}

.inline-search-item{
	@extend .pl-1;
	font-family: 'Roboto';
	font-size: small;
	.arena-container{
		border-bottom:  map-get($theme-colors, "dark") 1px solid;
		cursor: pointer;
	}
}
.inline-search-item:hover{
	.arena-container{
		@extend .background-secondary-color-ligth;
	}
}

.user-inline-search {
	.arena-field-name-phone{
		width: 50%;
		float: left;
	}
	.arena-field-name-email{
		width: 50%;
	}
	.arena-field-name-name{
		.label{
			display: none;
		}
	}
}

.arena-list-view-estate-screen, .arena-search-estate-screen, .arena-estateSearch-list-container{
	.arena-field-name-operation, .arena-field-name-estateType{
				text-align: center;
				text-transform: uppercase;
				font-size: 9pt;
				font-family: 'Roboto Cn';
				background-color:  map-get($theme-colors, "ligth-background");;
				@extend .mb-2;
	}
	.arena-field-name-operation{
		:first-child{
			margin: auto 0;
		}
	}
	
	.arena-photo-list-container{
		.arena-list-item-wrapper{
			margin: 0 auto !important;
		}
	}
	.arena-field-name-estateType{
		.arena-field-value{
			text-align: right;
			width: 100%;
		}
	}

	.arena-field-name-formattedAddress{
		@extend .background-secondary-color-ligth;
		border-radius: 3px 3px 0px 0px;
		.arena-field-value{
			margin: 0 auto;
		}
	}
	.estate-placeDescription-container{
		font-family: 'Roboto Cn';
		.arena-field-parentController-placeDescription > *{
			margin: auto 0;
		}
		.arena-text.label{
			display: inline-block;
		}
		.arena-text.label::after{
			content: ":";
		}

		@extend .container;
		.arena-container-default-render{
			@extend .row;
			.arena-field-name-environments{
				@extend .col-4;
				border-top:  map-get($theme-colors, "secondary") 1px solid;
			}
			.arena-field-name-carPlaces{
				@extend .col-4;
				border-top:  map-get($theme-colors, "secondary") 1px solid;
			}

			.arena-field-name-squareMeterTotal{
				@extend .col-4;
				border-top:  map-get($theme-colors, "secondary") 1px solid;
			}

			.arena-field-name-toilets{
				@extend .col-4;
				border-bottom:  map-get($theme-colors, "secondary") 1px solid;
			}

			.arena-field-name-laundry{
				@extend .col-4;
				border-bottom:  map-get($theme-colors, "secondary") 1px solid;
			}

			.arena-field-name-squareMeterCovered{
				@extend .col-4;
				border-bottom:  map-get($theme-colors, "secondary") 1px solid;
			}

			.arena-field-name-electricity{
				@extend .col-3;
			}

			.arena-field-name-gas{
				@extend .col-3;
			}

			.arena-field-name-waterNetworkConnection{
				@extend .col-3;
			}

			.arena-field-name-sewerConnection{
				@extend .col-3;
			}
		}
	}
}

.arena-list-container .arena-controller-appointment .arena-text.label{
	display: none;
}
.list, .create, .search{
	font-family: Raleway !important;
	@extend .h1;
	@extend .mx-auto;
	color:  map-get($theme-colors, "dark");
	&.label{
		max-width: 368px;
		@extend .text-left;
		@extend .mt-2;
		@extend .mb-0;
		@extend .pl-1;
	}
	&.sublabel{
		max-width: 368px;
		@extend .text-right;
		@extend .my-0;
		@extend .pr-1;
	}
}
.create.label{
	@extend .h3;
	@extend.text-center;
}

 
 input {
	 @extend .pt-2;
	 @extend .pl-2;
}

.react-autosuggest__input, .pac-target-input {
	@extend .arena-edit-field;
}
.react-autosuggest__suggestions-list{
	@extend .pl-2
}


.user-name{
	width: 100%;
	@extend .p-2;
	background-color: map-get($theme-colors, "secondary");
	color: map-get($theme-colors, "light");
	@extend .text-center;
	@extend .radius;
	font-weight: bold;
}
// .user-phone{
// 	float: left;
// 	width: 50%;
// }
// .arena-field-name-estateType{
// 	float: left;
// 	width: 50%
// }
.arena-controller-appointment {
	.arena-container-default-render {
		.arena-field-name-appointmentDate.arena-field-mode-VIEW {
			display: none;
		}
		// width: 80%;
		// float: left;
	}
}
.arena-controller-assessment  {
	.arena-field-name-appointment{
		@extend .d-none;
	}
}



.radio {
	@extend .m-auto;
}

input[type="file"]{
	display: none;
}

.react-datepicker{
	@extend .form-group;
	font-family: 'Roboto Cn';
	text-transform: capitalize;
	min-width: 395px;
	.react-datepicker__month-container{
		.react-datepicker__header{
			padding: 0 2.5rem 0 2.5rem;
		}
	}
	.react-datepicker__header{
		font-family: 'Raleway';
		padding: 0px;
		@extend .py-1;
		background-color: map-get($theme-colors, "primary");
		.react-datepicker__current-month{
			font-size: x-large;
		}
		.react-datepicker__day-name, .react-datepicker__current-month, .react-datepicker-time__header, .react-datepicker-year-header{
			font-weight: normal;
			color:map-get($theme-colors, "light");
		}
		.react-datepicker__navigation-icon::before{
			border-color: white;
		}
	}
	.react-datepicker__day{
		@extend .rounded-circle;
	}
	.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item--selected, .react-datepicker__close-icon, .react-datepicker__day--selected, .react-datepicker__day--keyboard-selected{
				background-color: map-get($theme-colors, "primary");
			}
	.react-datepicker__time-list-item{
		cursor: pointer;
	}
	.react-datepicker__input-container>input{
		@extend  .arena-edit-field;
	}
}



.radio input {
	@extend .rounded-pill;
	@extend .mx-2;
	@extend .px-5;
	width: auto;
	height: 100%;
	appearance: none;
	outline: none;
	cursor: pointer;
	border-radius: 2px;
	padding: 4px 8px;
	background: map-get($theme-colors, "light");
	font-size: 14px;
	color:  map-get($theme-colors, "secondary");
	font-family: Roboto;
	transition: all 100ms linear;
	border: 1px solid rgba(0, 0, 0, 0.26);
}

.radio input:checked {
	background:  map-get($theme-colors, "secondary");
	background-image:  map-get($theme-colors, "primary");
	color:  map-get($theme-colors, "light");
	box-shadow: 0 1px 1px #0000002e;
	text-shadow: 0 1px 0px map-get($theme-colors, "dark");
}

.radio input:before {
	content: attr(label);
	display: inline-block;
	text-align: center;
	width: 100%;
}



  .loader {
	width: 60px;
	margin: auto;
}

.loader-wheel {
	animation: spin 1s infinite linear;
	border: 2px solid map-get($theme-colors, "primary");
	border-left: 4px solid map-get($theme-colors, "light");
	border-radius: 50%;
	height: 20px;
	margin-bottom: 10px;
	width: 20px;
}

.loader-text {
	color: #fff;
	font-family: arial, sans-serif;
  }
  
  
  @keyframes spin {
	0% {
	  transform: rotate(0deg);
	}
	100% {
	  transform: rotate(360deg);
	}
  }
  
.rec-carousel-wrapper {

	 button.rec-arrow{
		@extend .d-inline;
		@extend .btn;
		@extend .btn-link, .rounded-pill;
		
	}

	@extend .px-2;
}