$theme-colors: () !default;

$theme-colors: (
    "primary": #454165,
    "danger": #ff4136,
    "warning": #f9cd00,
    "success": #61b83c
);
    
@import "../node_modules/bootstrap-material-design/scss/core";
@import "../node_modules/bootstrap/scss/bootstrap";

.top-actions-bar{
    background-color: #454165;
    width: 100%;
}